<!doctype html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
<header>
    <%- include('partials/header'); %>
</header>
<main>

<div class="jumbotron centered">
    <div class="container">
        <h1 class="display-3">Organize</h1>
        <p class="lead">“There are three mistakes in human communication: the first is the desire to speak before it is necessary; the second is shyness, not to speak when necessary; the third is to speak without watching your listener.”</p>
        <a class="btn btn-dark btn-lg" href="/event" role="button">Organize an event</a>
    </div>
</div>
</main>

<footer>
    <%- include('partials/footer'); %>
</footer>
</body>
</html>
